@page "/weather"
@inject HttpClient Http

<PageTitle>Wetter</PageTitle>

<h1>Wetter</h1>
<p>Hier ist eine Komponente, die das Abrufen von Daten vom Server demonstriert:</p>

@if (geoData == null)
{
    <p><em>Lade Daten...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Stadt</th>
                <th>Breitengrad</th>
                <th>Längengrad</th>
                <th>Land</th>
                <th>Bundesland</th>
                <th>Region</th>
                <th>Bezirk</th>
                <th>Gemeinde</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                int counterOne = 1;
            }
            @foreach (var geo in geoData)
            {
                <tr>
                    <td>@counterOne</td>
                    <td>@geo.Name</td>
                    <td>@geo.Latitude</td>
                    <td>@geo.Longitude</td>
                    <td>@geo.Country</td>
                    <td>@geo.Admin1</td>
                    <td>@geo.Admin2</td>
                    <td>@geo.Admin3</td>
                    <td>@geo.Admin4</td>
                </tr>
                counterOne++;
            }
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Nr.</th>
                <th>Current Temperatur</th>
                <th>Current Luftfeuchtigkeit</th>
                <th>Daily Temperatur Min</th>
                <th>Daily Temperatur Max</th>
                <th>Tages Durchschnitsstemperatur</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counterTwo = 1;
            }

            <tr>
                <td>@counterTwo</td>
                <td>@weatherData?.current?.temperature_2m</td>
                <td>@weatherData?.current?.relative_humidity_2m</td>
                <td>@weatherData?.daily?.temperature_2m_min?.FirstOrDefault()</td>
                <td>@weatherData?.daily?.temperature_2m_max?.FirstOrDefault()</td>
                <td></td>
            </tr>
            
        </tbody>
    </table>
}

@code {
    private GeoData[]? geoData;
    private WeatherData? weatherData;

    protected override async Task OnInitializedAsync()
    {
        geoData = await MeteoApi.GetGeoData("Rosenheim", 10);
        weatherData = await MeteoApi.GetWeatherDataTest2(47.8561, 12.1225);
    }
}
